<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141843367287-rcofro4p382inknl97qak2ont17blj5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141843367287-rcofro4p382inknl97qak2ont17blj5a</string>
	<key>API_KEY</key>
	<string>AIzaSyAZHxUbYqgmQ4dVoIOzHMNb2Jwv2_jZ2mo</string>
	<key>GCM_SENDER_ID</key>
	<string>141843367287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thinkificCodetest</string>
	<key>PROJECT_ID</key>
	<string>thinkific-code-test</string>
	<key>STORAGE_BUCKET</key>
	<string>thinkific-code-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141843367287:ios:b1cb72c7f6d49ab69a8d72</string>
</dict>
</plist>